<form class="container" [formGroup]="productsForm">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Select Product</label>
        <select class="form-control" formControlName="ProductType" [(ngModel)]="type" id="exampleFormControlSelect1">
            <option>Electoric</option>
            <option>Fashion</option>
            <option>Grocery</option>
            <option>Sports</option>
        </select>
    </div>
    <div class="form-group">
        <label>Products Name</label>
        <input type="text" formControlName="ProductName" class="form-control">
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" formControlName="ProductPrice" class="form-control">
    </div>
    <button (click)="saveProduct()" class="btn btn-success">
        Submit
    </button>

</form>